<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BKham Ciphers</title>

    <title>BKham Ciphers</title>

    <!--

    Template 2099 Scenic

    http://www.tooplate.com/view/2099-scenic

    -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <link rel="stylesheet" href="~/css/owl.theme.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/tooplate-style.css">

</head>
<body>
    <!-- PRE LOADER -->
    <div class="preloader">
        <div class="spinner">
            <span class="sk-inner-circle"></span>
        </div>
    </div>


    <!-- MENU -->
    <div class="navbar custom-navbar navbar-fixed-top" role="navigation">
        <div class="container">

            <!-- NAVBAR HEADER -->
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <!-- lOGO -->
                <a href="@Url.Action("Index","Home")" class="navbar-brand">Ana Sayfa</a>
            </div>

            <!-- MENU LINKS -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li><a href="~/blockchainHash" class="smoothScroll">Giriş/Kayıt</a></li>
                   
                </ul>
            </div>

        </div>
    </div>

    <div>
        @RenderBody()

    </div>



    <!-- SCRIPTS -->
                    <script src="~/js/jquery.js"></script>
                    <script src="~/js/bootstrap.min.js"></script>
                    <script src="~/js/jquery.parallax.js"></script>
                    <script src="~/js/owl.carousel.min.js"></script>
                    <script src="~/js/jquery.magnific-popup.min.js"></script>
                    <script src="~/js/magnific-popup-options.js"></script>
                    <script src="~/js/modernizr.custom.js"></script>
                    <script src="~/js/smoothscroll.js"></script>
                    <script src="~/js/custom.js"></script>

                    @RenderSection("scripts", required: false)
</body>
</html>
